
bin/Debug/ConsoleApplication1.pdb
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
obj/Debug/ConsoleApplication1.csproj.AssemblyReference.cache
obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
obj/Debug/ConsoleApplication1.csproj.CoreCompileInputs.cache
obj/Debug/ConsoleApplication1.exe
obj/Debug/ConsoleApplication1.pdb
bin/Debug/ConsoleApplication1.exe
